.body-paginas {
  background-image: url(../public/img/fondo5.png); }

header {
  font-family: 'Zen Loop', cursive;
  font-size: 20px; }

.main {
  margin-top: 25vh; }

.h2-titulo {
  color: #E2C547;
  font-family: 'Zen Loop', cursive;
  font-size: 90px;
  text-align: center; }

.h2-border {
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  color: #99BFB3; }

p {
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }

/* FOOTER */
footer {
  height: 240px;
  padding-top: 10px; }

.link-footer {
  margin-top: 15px;
  text-decoration: none;
  color: black;
  padding: 15px; }

.pie-pag {
  width: 100%;
  justify-content: space-between; }

.footer-pages {
  margin-top: 100px; }

.error {
  display: flex;
  flex-direction: column;
  background-image: url(/public/img/404.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center; }

@media (max-width: 540px) {
  .container {
    font-size: 13px;
    justify-content: center;
    align-content: center; }
    .container.pie-pag {
      flex-direction: column; }
  .link-footer {
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 11px;
    padding: 5px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.first-main {
  width: 100%;
  height: 100vh;
  background: url(../public/img/main2.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed; }

.h1 {
  font-size: 50px;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: wheat;
  padding: 20px;
  color: white; }

.wave-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden; }

@media (max-width: 400px) {
  .h1 {
    font-size: 30px; } }

:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex; }

.container {
  display: grid; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

main.main-productos {
  margin-top: 40px;
  gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(25, 100px); }

.contenedor-productos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }

.first-div-prod {
  grid-column: span 10;
  grid-row: 2 / 5; }

.second-div-prod {
  grid-column: span 10;
  grid-row: 6 / 9; }

.three-div-prod {
  grid-column: span 10;
  grid-row: 10 / 13; }

.four-div-prod {
  grid-column: span 10;
  grid-row: 14 / 17; }

.five-div-prod {
  grid-column: span 10;
  grid-row: 18 / 21; }

.six-div-prod {
  grid-column: span 10;
  grid-row: 22 / 25; }

.first-prod {
  text-align: center; }

.botanicos-order {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.first-prod-2 {
  padding: 10px;
  text-align: center;
  width: 40%; }

@media (max-width: 770px) {
  .botanicos-order {
    padding-left: 0px;
    display: flex;
    flex-direction: column; }
  .first-prod-2 {
    padding: 10px;
    text-align: center;
    width: 80%; } }

@media (max-width: 400px) {
  .botanicos-order {
    display: flex;
    flex-direction: column;
    padding-left: 30px; }
  .first-prod {
    justify-content: center;
    align-content: center;
    width: 375px; }
  .first-prod img {
    width: 375px; } }

.portafolio {
  margin: 30px 70px; }

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

@media (max-width: 400px) {
  .galeria-port {
    display: flex;
    flex-direction: column; }
  .imagen-port {
    width: 100%;
    margin-bottom: 10px; } }

.conocenos-main {
  height: 100vh;
  padding-top: 70px; }
  .conocenos-main.titulo-conocenos {
    padding: 5vh 0;
    text-align: center; }

.contendor-sobre-nosotros {
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagen-conocenos {
  height: 70vh;
  margin: auto;
  align-items: center; }

.contenido-historia {
  text-align: center;
  width: 60%; }

/*----------------------------*/
.imagen-fondo {
  margin-top: 70px;
  background-image: url(../public/img/img3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }

.titulo-banner {
  color: whitesmoke;
  text-align: center; }

/*----------------------------*/
.conocenos-medio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.imagen-fondo-2 {
  background-image: url(../public/img/main-first.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding-right: 10px; }

.titulo-banner {
  color: #8E8D8D;
  text-align: center;
  width: 30%;
  padding-right: 10px; }

.texto-banner {
  color: #8E8D8D;
  text-align: center;
  width: 30%;
  padding-right: 10px; }

.texto-banner-2 {
  padding: 30px;
  color: #8E8D8D;
  justify-content: flex-start;
  width: 30%; }

.conocenos-medio {
  height: 70vh; }

@media (max-width: 770px) {
  .imagen-conocenos {
    width: 35vh;
    height: 55vh; }
  .imagen-fondo {
    padding: 15px;
    justify-content: center;
    align-items: flex-start; }
  .h2-titulo {
    font-size: 50px; } }

@media (max-width: 400px) {
  .conocenos-main {
    height: 100%; }
  .contendor-sobre-nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px; }
  .contenido-historia {
    margin-top: 10px;
    width: 100%; }
  .imagen-conocenos {
    width: 45vh;
    height: 50vh; }
  .texto-banner {
    color: whitesmoke;
    justify-content: left;
    align-content: left;
    text-align: center;
    font-size: 12px;
    width: 50%; }
  .titulo-banner {
    color: whitesmoke;
    text-align: center;
    width: 50%; }
  .imagen-fondo {
    padding: 15px;
    justify-content: center;
    align-items: flex-start; }
  /*------------------------------------*/
  .imagen-fondo-2 {
    padding: 10px;
    justify-content: center;
    align-items: flex-start; }
  .texto-banner-2 {
    color: whitesmoke;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 13px;
    width: 50%; } }

.main-contactanos {
  margin-top: 35vh; }

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background: #31384A;
  color: #fff;
  padding: 20px; }

#boton:hover {
  cursor: pointer; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

.error {
  display: flex;
  flex-direction: column;
  background-image: url(/public/img/404.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center; }
