.navbar-main .active {
  text-decoration: underline wavy var(--honey-yellow); }

header {
  font-family: 'Zen Loop', cursive;
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex; }

.container {
  display: grid; }
