.navbar-main .active {
  text-decoration: underline wavy var(--honey-yellow); }

header {
  font-family: 'Zen Loop', cursive;
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.first-main {
  width: 100%;
  height: 800px;
  background: url(../public/img/main2.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed; }

.h1 {
  display: flex;
  height: 700px;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
  text-align: center; }

.wave {
  position: absolute;
  bottom: 0;
  width: 100%; }

:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex; }

.container {
  display: grid; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }
