.body-paginas{
background-image:url(../public/img/fondo5.png);
}
header{
    font-family: 'Zen Loop', cursive;
    font-size: 20px;
}
.main{
    margin-top: 25vh;
}
.h2-titulo{
    color: #E2C547;
    font-family: 'Zen Loop', cursive;
    font-size: 90px;
    text-align: center;
}
.h2-border{
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    color: #99BFB3;
}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
/* FOOTER */
footer{
    height: 240px;
 
    padding-top: 10px;
    
}
.link-footer{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    padding: 15px;
    
}

.pie-pag{
    width: 100%;
    justify-content: space-between;
}

.footer-pages{
    margin-top: 100px;
}
.error{
    display: flex;
    flex-direction: column;
    background-image: url(/public/img/404.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}


@media (max-width:540px) {
    .container{
        font-size: 13px;
        justify-content: center;
        align-content: center;
        &.pie-pag{
            flex-direction: column;
        }
    }
    .link-footer{
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
       font-size: 11px;
        padding: 5px;

    }
}