.first-main{
    width: 100%;
    height: 100vh;
    background: url(../public/img/main2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    background-size: cover;
    background-attachment: fixed;
    
}
.h1{
    font-size: 50px;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: wheat;
    padding: 20px;
    color: white;
}

.wave-1{
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

@media (max-width:400px){
    .h1{
        font-size:30px ;
    }
}