.conocenos-main{
    height: 100vh;
    padding-top: 70px;
    &.titulo-conocenos{
        padding: 5vh 0;
        text-align: center;
    }
}
.contendor-sobre-nosotros{
margin: 70px;
padding: 30px auto;
display: flex;
justify-content: center;
align-items: center;
}
.imagen-conocenos{
    width: 60vh;
    height: 75vh;
    margin: auto;
    align-items: center;
}
.contenido-historia{
    text-align: center;
    width: 48%;
}
.imagen-fondo{
    padding: 100px 25px 150px 850px;
    background-image: url(../public/img/img3.png);    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    
}
.titulo-banner{
    
    color: whitesmoke;
    text-align: center;
}
.texto-banner{
    color: whitesmoke;
    text-align: right;

}
@media (max-width:770px){
    .imagen-conocenos{
        width: 35vh;
        height: 55vh;
    }
}